In [1]:
import mysql.connector as sql
import pandas as pd

db_connection = sql.connect(host='localhost', database='data', user='root', password='root')
db_cursor = db_connection.cursor()
db_cursor.execute('SELECT * FROM salaries')

table_rows = db_cursor.fetchall()

df = pd.DataFrame(table_rows)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,,567595.43,567595.43,2011,,San Francisco,
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,,538909.28,538909.28,2011,,San Francisco,
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,,335279.91,335279.91,2011,,San Francisco,
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,,332343.61,332343.61,2011,,San Francisco,
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,,326373.19,326373.19,2011,,San Francisco,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
109715,110282,Leah A Fraimow-Wong,PS Aide Health Services,344.25,0.00,0.00,0.0,344.25,344.25,2013,,San Francisco,
109716,110285,Mo Sze Wong,Licensed Vocational Nurse,336.30,0.00,0.00,3.36,336.30,339.66,2013,,San Francisco,
109717,110286,Teagan J Mucher,Public Service Trainee,332.33,0.00,3.81,3.37,336.14,339.51,2013,,San Francisco,
109718,110287,Heather Stephenson,"BdComm Mbr, Grp2,M=$25/Mtg",275.00,0.00,0.00,64.31,275.00,339.31,2013,,San Francisco,
109719,110288,Jon N Johannsen,Stage Electrician,334.60,0.00,0.00,3.35,334.60,337.95,2013,,San Francisco,

In [2]:
import mysql.connector as sql
import pandas as pd

db_connection = sql.connect(host='localhost', database='data', user='root', password='root')
query = "select * from salaries"
df_mysql = pd.read_sql(query, con = db_connection)
df_mysql

C:\Users\udaib\AppData\Local\Temp\ipykernel_21100\1602222169.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_mysql = pd.read_sql(query, con = db_connection)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,,567595.43,567595.43,2011,,San Francisco,
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,,538909.28,538909.28,2011,,San Francisco,
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,,335279.91,335279.91,2011,,San Francisco,
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,,332343.61,332343.61,2011,,San Francisco,
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,,326373.19,326373.19,2011,,San Francisco,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
109715,110282,Leah A Fraimow-Wong,PS Aide Health Services,344.25,0.00,0.00,0.0,344.25,344.25,2013,,San Francisco,
109716,110285,Mo Sze Wong,Licensed Vocational Nurse,336.30,0.00,0.00,3.36,336.30,339.66,2013,,San Francisco,
109717,110286,Teagan J Mucher,Public Service Trainee,332.33,0.00,3.81,3.37,336.14,339.51,2013,,San Francisco,
109718,110287,Heather Stephenson,"BdComm Mbr, Grp2,M=$25/Mtg",275.00,0.00,0.00,64.31,275.00,339.31,2013,,San Francisco,
109719,110288,Jon N Johannsen,Stage Electrician,334.60,0.00,0.00,3.35,334.60,337.95,2013,,San Francisco,